* {
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.my-custom-text {
    font-size: 14px; 
}

.custom-radius {
    border-radius: 0;
}

.label-top {
    float: left;
    text-align: center;
}

.btn-green {
    background: linear-gradient(to right,  #35c3c1, #00d6b7);
    color: white;
    
    
}

.btn-green:hover {
    background: linear-gradient(to left,  #35c3c1, #00d6b7);
    color: white;
    
    
}

    body.dark-only .login-card .login-main {
    -webkit-box-shadow: 0 0 37px rgba(255, 255, 255, 0.05);
            box-shadow: 0 0 37px rgba(255, 255, 255, 0.05); }
    body.dark-only .login-card .login-main .theme-form input {
      background-color: #262932 !important; }
    body.dark-only .login-card .login-main .theme-form .or:before {
      background-color: #262932; }
    body.dark-only .login-card .login-main .theme-form .checkbox label::before {
      background-color: #262932 !important;
      border-color: #262932 !important; }

.theme-form .form-control :focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(171, 140, 228, 0.05);
            box-shadow: 0 0 0 0.2rem rgba(171, 140, 228, 0.05); }
  
  .theme-form textarea {
    border-color: #efefef; }
    .theme-form textarea::-webkit-input-placeholder {
      color: #898989;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 100; }
  
  .theme-form input[type=text],
  .theme-form input[type=email],
  .theme-form input[type=search],
  .theme-form input[type=password],
  .theme-form input[type=number],
  .theme-form input[type=tel],
  .theme-form input[type=date],
  .theme-form input[type=datetime-local],
  .theme-form input[type=time],
  .theme-form input[type=datetime-local],
  .theme-form input[type=month],
  .theme-form input[type=week],
  .theme-form input[type=url],
  .theme-form input[type=file],
  .theme-form select {
    border-color: #efefef;
    background-color: #fff;
    font-size: 14px;
    color: #898989; }
    .theme-form input[type=text]::-webkit-input-placeholder,
    .theme-form input[type=email]::-webkit-input-placeholder,
    .theme-form input[type=search]::-webkit-input-placeholder,
    .theme-form input[type=password]::-webkit-input-placeholder,
    .theme-form input[type=number]::-webkit-input-placeholder,
    .theme-form input[type=tel]::-webkit-input-placeholder,
    .theme-form input[type=date]::-webkit-input-placeholder,
    .theme-form input[type=datetime-local]::-webkit-input-placeholder,
    .theme-form input[type=time]::-webkit-input-placeholder,
    .theme-form input[type=datetime-local]::-webkit-input-placeholder,
    .theme-form input[type=month]::-webkit-input-placeholder,
    .theme-form input[type=week]::-webkit-input-placeholder,
    .theme-form input[type=url]::-webkit-input-placeholder,
    .theme-form input[type=file]::-webkit-input-placeholder,
    .theme-form select::-webkit-input-placeholder {
      color: #898989;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 100; }
  
  .theme-form input[type=file] {
    height: auto; }
  
  .theme-form select.form-control:not([size]):not([multiple]) {
    border-color: #efefef;
    font-size: 14px; }
  
  .theme-form .checkbox label {
    padding-left: 10px; }
  
  .theme-form .form-divider {
    position: relative;
    clear: both;
    height: 0;
    margin: 30px 0;
    border-top: 1px solid #efefef; }
    .theme-form .form-divider:before {
      position: absolute;
      top: -11px;
      left: 40%;
      margin-left: -10px;
      padding: 0 5px;
      content: "Or Signup With";
      color: #242934;
      background: #fff; }
  
  .theme-form .login-divider {
    position: relative;
    clear: both;
    height: 0;
    margin: 30px 0;
    border-top: 1px solid #efefef; }
    .theme-form .login-divider:before {
      position: absolute;
      top: -11px;
      left: 40%;
      margin-left: -10px;
      padding: 0 5px;
      color: #242934;
      background: #fff;
      content: "Or Login With"; }
  
  .theme-form .btn-fb,
  .theme-form .btn-twitter,
  .theme-form .btn-google,
  .theme-form .btn-linkedin {
    color: #fff;
    width: 100%; }
  
  .theme-form .btn-fb {
    background-color: #50598e; }
  
  .theme-form .btn-twitter {
    background-color: #6fa2d8; }
  
  .theme-form .btn-google {
    background-color: #c64e40; }
  
  .theme-form .btn-linkedin {
    background-color: #0077B5; }
* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.custom-card i {
    font-size: 12px;
    font-style: italic;
}

.card.custom-card { 
    font-family: 'Lato', sans-serif;
    max-width: 700px; /* Sesuaikan dengan lebar yang Anda inginkan */
    border-radius: 10px; /* Menentukan radius pinggiran */
    margin: 0 auto; /* Untuk membuat card berada di tengah */
    /* Properti CSS lainnya sesuai kebutuhan */
}
.card.custom-radius {
    border: none;
    padding: 20px;
    /* Properti CSS lainnya sesuai kebutuhan */
}

.card-custom{
    background-color: rgba(32, 32, 32, 0.15);
    border: none
}

.card::before{
    content: "";
    position: absolute;
    left: 0;
    height: 5px;
    width: 100%;
    background: linear-gradient(to left,  #35c3c1, #00d6b7);
}

.c-green{
    color: #35c3c1;
}

.form-control, .btn{
    border-radius: 10px;
}

input[type=radio] {
    height: 20px;
    width: 20px;
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color:  #35c3c1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px  #35c3c1;
    outline: 0 none;
}

.bs-wizard {margin: 40px 0px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/
