
/* CSS untuk tampilan mobile (lebar layar <= 768px) */
@media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #ffffff;
    }

    .circle-container {
        position: relative;
        text-align: center;
    }

    .rounded-circle-image {
        border-radius: 50%;
        width: 150px; 
        height: 150px;
        overflow: hidden;
        display: inline-block;
        position: relative;
        border: 1px solid #f0f0f0;
    }

    .rounded-circle-image img {
        width: 100%;
        height: 100%;
    }

    .upload-button {
        position: absolute;
        bottom: 10px;
        right: 20px;
        background-color: #00a9b8;
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
       
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
    }
    .upload-button:hover {
        background-color: #0096a4;
    }
    #file {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

/* CSS untuk tampilan desktop (lebar layar > 768px) */
@media (min-width: 769px) {
    .circle-container,
    .rounded-circle-image,
    .upload-button,
    #file {
        display: none;
    }
}
